*ipynb_checkpoints*
Freesurfer/
PrcsData/
TEST/
*.logs
*.SWARM.sh
Figures/CSF/
Figures/TSNR/
Figures/WhiteMatter/
Scripts/SC02_Preproc_fMRI.CreateSwarm.bck.sh
Notebooks/utils/subject_run.txt
*.ipynb
Notebooks/utils/valid_run_df.pkl
