*ipynb_checkpoints*
Freesurfer/
PrcsData/
TEST/
*.logs
*.SWARM.sh
*SWARM.javier.sh
Figures/CSF/
Figures/TSNR/
Figures/WhiteMatter/
Scripts/SC02_Preproc_fMRI.CreateSwarm.bck.sh
Notebooks/utils/subject_run.txt
*.ipynb
*/utils/valid_run_df.pkl
Atlases/
Notebooks/javier_plot.py
Notebooks/sleep_stage_duration.csv
Notebooks/utils/__pycache__/
